body {
    background: #8C52FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #debff4;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 100px;
    font-size: 20px;
}

button:hover {
    background: #8b48d7;
}

#today-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temp-div p {
    font-size: 60px;
    margin-top: -40px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 0px;
   
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

#hourly-forecast, #daily-forecast {
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hourly-item, .daily-item {
    flex: 0 0 auto;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    font-weight: 700;
    color: darkmagenta;
}

.hourly-item img, .daily-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

#hourly-heading, #daily-heading {
    color: #fff;
    margin-top: 2px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2, label, p {
        font-size: 16px;
    }

    #weather-container {
        grid-template-columns: 1fr;
    }

    #hourly-forecast, #daily-forecast {
        margin-top: 20px;
    }

    .hourly-item, .daily-item {
        width: 50px;
    }

    .hourly-item img, .daily-item img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    h2, label, p {
        font-size: 16px;
    }

    input {
        max-width: 150px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }

    #temp-div p {
        font-size: 40px;
    }

    #weather-info {
        font-size: 16px;
    }

    #weather-icon {
        width: 100px;
        height: 100px;
    }

    .hourly-item, .daily-item {
        width: 70px;
    }

    .hourly-item img, .daily-item img {
        width: 30px;
        height: 30px;
    }
}


